AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=
TABLE_NAME=
AUTH_TABLE_NAME=PUsers
JWT_SECRET=gere-uma-chave-forte-e-mantenha-fora-do-git
JWT_EXPIRES_IN=1h
FRONTEND_URL=http://localhost:5173
PORT=3000